.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    height: 10rem;
    width: 20rem;
    border-radius: var(--b-radius);
    box-shadow: 0 8px 10px -4px rgba(0,0,0,0.5);
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
}

.front {
    display: block;
}

.back {
    background-color: white;
    padding: 1.5em 2em;
    font-size: var(--small-fontsize);
    text-align: left;
    line-height: 1.5;
    height: 100%;
    border-radius: var(--b-radius);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);
}

